.portfolio-box .portfolio-box-caption {
  background: rgba(170, 165, 164, 0.6);
}

header.wallpaper {
  background-image: url("../img/wallpaper.jpg");
}

.wallpaper {
  background-image: url("../img/wallpaper.jpg");
}