.portfolio-box .portfolio-box-caption {
  background: rgba(170, 165, 164, 0.6);
}

a {
	color: #8e6b8b;
}

a:hover {
	color: #8e6b8b;
}

hr {
	border-color: #8e6b8b;
}

.navbar-default .navbar-header .navbar-brand:focus, .navbar-default .navbar-header .navbar-brand:hover {
	color: #8e6b8b;
}